
*.sh
node_modules
*.md
*.woff
*.ttf
.vscode
.idea
dist
/public
/docs
.husky
.local
/bin
Dockerfile


# Ignore artifacts:
coverage/
dist/
public/
__mocks__/

jest.config.js
jest.setup.js
postcss.config.js
*.d.ts
stylelint.config.js
commitlint.config.js
.cz-config.js